:root{
  --main-color: rgb(62, 60, 60);
  --sec-color: rgb(180, 175, 209);
  --transparent-box: rgba(5, 242, 246, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Top bar bar styles */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--main-color);
  padding: 20px;
  align-items: center;
}

#nav-list{
  display: flex;
  gap:10px;
  color: var(--sec-color);
}

#nav-list li{
  list-style-type: none;
  border-bottom: 3px solid;
  padding-right: 10px;
  padding-left: 10px;
}
#nav-list li a{
  color: var(--sec-color);
  text-decoration: none;
}

#logo{
  background-color: var(--sec-color);
  position: relative;
  padding-left: 100px;
  padding-right: 10px;
  left:-20px;
  
}

/* Banner styles */
.hero-banner{
  background-image: url(../images/5319313.jpg);
  height:12em;
  background-size: 60%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.hero-banner div{
  margin-bottom: 10px;
  margin-right: 50px;
  padding: 15px;
  background-color: var(--main-color);
  color: var(--sec-color);
  font-style: italic;
}

/* Main body styles */

.page-section{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.page-section h2{
  flex: 0 0 200px;
  border-right: solid 3px var(--main-color);
  text-align: end;
  padding: 10px;
  padding-top: 0px;
  margin-right: 20px;
  font-size: 36px;
}

.page-section p{
  padding-left: 20px;
  padding-right: 20px;
}

#main_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-template-areas: 
  "Surf Surf";
}

figure{
  border: solid 4px var(--sec-color);
  display: flex;
  align-items: end;
  height: 20em;
  background-size: 100%;
  margin: 15px;

}

#main_grid div{
  display: inline-block;
  background-color: var(--sec-color);
  padding: 20px;
  margin-bottom: 15px;

  
}

#Surf{
  background-image: url(../images/02-portfolio-4.jpg);
  grid-area: Surf;
  
}

#LED{
  background-image: url(../images/02-portfolio-1.jpg);
}

#Calc{
  background-image: url(../images/02-portfolio-2.jpg);
}

#Puzzle{
  background-image: url(../images/02-portfolio-3.jpg);
}

#Run{
  background-image: url(../images/02-run-buddy.jpg);
}

figure:hover{
  scale: 1.1;
}

/* Contact section */

#contact-list{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  color: var(--sec-color);
}

#contact-list li{
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  border-bottom: solid 3px;
}

#contact-list li:hover{
  color:blue;
}

@media only screen and (max-width: 768px){

  #main_grid{
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 1;
    grid-template-areas: 
    "Surf";
  }

nav{
  margin: auto;
}

#contact-list{
  flex-direction: column;
  gap:10px
}

}

@media only screen and (max-width: 1024px){
  #contact-list{
    flex-direction: column;
    gap:10px
  }
}